body {
  background-color: #4e4e4e;
  margin: 0;
  text-align: center;
  font-size: 10px;
  -webkit-perspective:400px;
  perspective:400px;
}
h1 {
  font-family: 'Exo', sans-serif;
  font-weight: 100;
  color:black;
  opacity: 0;
  -webkit-animation: text 2s cubic-bezier(0.26, 1.17, 0.89, -0.74) forwards;
  animation: text 2s cubic-bezier(0.26, 1.17, 0.89, -0.74) forwards;
  font-size: 43px;
  display: block;
  margin-top: 100px;
  position: relative;
  color: #FBF8CA;
}

.lamp {
  width: 10em;
  height: 16em;
  display: inline-block;
  -webkit-transform-origin: top center;
  -webkit-transform: rotate(45deg);
  -webkit-animation: lamp 3s forwards;
  transform-origin: top center;
  transform: rotate(45deg);
  animation: lamp 3s forwards;
}

.bulb {
  fill: #FBF8CA;
  fill-opacity: 0.1;
  -webkit-animation: bulb 0.3s 0.3s 5 cubic-bezier(0.26, 1.17, 0.89, -0.74) alternate forwards;
  animation: bulb 0.3s 0.3s 5 cubic-bezier(0.26, 1.17, 0.89, -0.74) alternate forwards;
}


@-webkit-keyframes bulb { to { fill-opacity: 1; fill: #FBF8CA; } }
@keyframes bulb { to { fill-opacity: 1; fill: #FBF8CA; } }
@-webkit-keyframes text { 
  to { opacity: .3; text-shadow: rgb(70, 70, 70) 0px 1px, rgb(70, 70, 70) 0px 2px, rgb(70, 70, 70) 0px 3px, rgb(70, 70, 70) 0px 4px, rgb(70, 70, 70) 0px 5px, rgb(70, 70, 70) 0px 6px, rgb(70, 70, 70) 0px 7px, rgb(70, 70, 70) 0px 8px, rgb(70, 70, 70) 0px 9px, rgb(70, 70, 70) 0px 10px, rgb(70, 70, 70) 0px 11px, rgb(70, 70, 70) 0px 12px, rgb(70, 70, 70) 0px 13px, rgb(70, 70, 70) 0px 14px, rgb(71, 71, 71) 0px 15px, rgb(71, 71, 71) 0px 16px, rgb(72, 72, 72) 0px 17px, rgb(72, 72, 72) 0px 18px, rgb(73, 73, 73) 0px 19px, rgb(73, 73, 73) 0px 20px, rgb(74, 74, 74) 0px 21px, rgb(74, 74, 74) 0px 22px, rgb(74, 74, 74) 0px 23px, rgb(75, 75, 75) 0px 24px, rgb(75, 75, 75) 0px 25px, rgb(76, 76, 76) 0px 26px, rgb(76, 76, 76) 0px 27px, rgb(77, 77, 77) 0px 28px, rgb(77, 77, 77) 0px 29px, rgb(78, 78, 78) 0px 30px; } 
}
@keyframes text { 
  to { opacity: .3; text-shadow: rgb(70, 70, 70) 0px 1px, rgb(70, 70, 70) 0px 2px, rgb(70, 70, 70) 0px 3px, rgb(70, 70, 70) 0px 4px, rgb(70, 70, 70) 0px 5px, rgb(70, 70, 70) 0px 6px, rgb(70, 70, 70) 0px 7px, rgb(70, 70, 70) 0px 8px, rgb(70, 70, 70) 0px 9px, rgb(70, 70, 70) 0px 10px, rgb(70, 70, 70) 0px 11px, rgb(70, 70, 70) 0px 12px, rgb(70, 70, 70) 0px 13px, rgb(70, 70, 70) 0px 14px, rgb(71, 71, 71) 0px 15px, rgb(71, 71, 71) 0px 16px, rgb(72, 72, 72) 0px 17px, rgb(72, 72, 72) 0px 18px, rgb(73, 73, 73) 0px 19px, rgb(73, 73, 73) 0px 20px, rgb(74, 74, 74) 0px 21px, rgb(74, 74, 74) 0px 22px, rgb(74, 74, 74) 0px 23px, rgb(75, 75, 75) 0px 24px, rgb(75, 75, 75) 0px 25px, rgb(76, 76, 76) 0px 26px, rgb(76, 76, 76) 0px 27px, rgb(77, 77, 77) 0px 28px, rgb(77, 77, 77) 0px 29px, rgb(78, 78, 78) 0px 30px; } 
}

@-webkit-keyframes lamp {
  5% { -webkit-transform: rotate(-45deg); }
  10% { -webkit-transform: rotate(35deg); }
  15% { -webkit-transform: rotate(-35deg); }
  25% { -webkit-transform: rotate(15deg); }
  40% { -webkit-transform: rotate(-15deg); }
  65% { -webkit-transform: rotate(3deg);; }
  85% { -webkit-transform: rotate(-1deg); }
  100% { -webkit-transform: rotate(0deg); }
}
@keyframes lamp {
  5% { transform: rotate(-45deg); }
  10% { transform: rotate(35deg); }
  15% { transform: rotate(-35deg); }
  25% { transform: rotate(15deg); }
  40% { transform: rotate(-15deg); }
  65% { transform: rotate(3deg); }
  85% { transform: rotate(-1deg); }
  100% { transform: rotate(0deg); }
}
.link {
  width: 20px;
  height: 20px;
  margin: 3px;
  display: inline-block;
}
.link path { 
  fill:#333;
  -webkit-transition:fill .3s;
  transition:fill .3s;
}
.codepen:hover path { fill: #d5d5d5;}
.dribbble:hover path { fill: #c73b6f;}
.github:hover path { fill: #1a1a1a;}
.twitter:hover path { fill: #00aced;}
.twitter svg { margin-bottom: 2px;}