.wrapper {
  display: grid;
  grid-gap: 3rem;
  grid-template-areas:
    'copy'
    'intro'
    'quotes';
  color: #212305;
  margin: 3rem;
}

.intro {
  grid-area: intro;
  font-family: 'Miriam Libre', sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.66;
}

.intro p {
  margin-bottom: 0.66em;
}

.raw {
  font-family: 'Arapey', serif;
  font-weight: normal;
  line-height: 1.5;
}

.quotes {
  grid-area: quotes;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-top: 40px;
  padding-bottom: 40px;
  padding: 2.5rem 0.5rem;
  font-size: 22px;
  line-height: 1.5;
  align-self: center;
}

.copy {
  grid-area: copy;
  font-family: 'Miriam Libre', sans-serif;
  font-size: 4rem;
}

.quote {
  font-size: 34px;
  padding: 1em 0;
  margin: 0;
}

.quote footer {
  font-size: 0.5em;
  text-align: right;
}

@media (min-width: 960px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'intro copy'
      'quotes quotes';
    grid-gap: 5rem;
  }

  .copy {
    align-self: center;
    font-size: 8rem;
  }

  .quotes {
    margin: 0 200px;
  }
}

@media (min-width: 1312px) {
  .wrapper {
    grid-template-columns: 1.7fr 1fr 1fr;
    grid-template-areas: 'intro quotes copy';
    margin: 100px;
  }

  .copy {
    align-self: start;
  }

  .quotes {
    margin: auto;
  }
}

.highlight,
.link {
  --h-color: hsl(var(--h), var(--s), calc(var(--l) + 10%));
  background: linear-gradient(var(--h-color, #c8d723), var(--h-color, #c8d723));
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
}

.highlight {
  background-size: 100%;
}

.link {
  background-size: 100% 0.4em;
  text-decoration: none;
  outline: 0;
  color: inherit;
}

.link:hover {
  --h-color: hsl(var(--h), var(--s), calc(var(--l) + 30%));
}
