.links {
  text-align: center;
}
.link {
  width: 20px;
  height: 20px;
  margin: 13px;
  display: inline-block;
  z-index: 200;
  position: relative;
}
.link path {
  fill: #333;
  transition: fill 0.3s;
}
.codepen:hover path {
  fill: #d5d5d5;
}
.dribbble:hover path {
  fill: #c73b6f;
}
.github:hover path {
  fill: #1a1a1a;
}
.twitter:hover path {
  fill: #00aced;
}
.msg:hover path {
  fill: #a8a58a;
}
