html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  background-color: hsl(223, 13%, 7%);
  color: #fbf8ca;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type='reset'],
[type='submit'],
button,
html [type='button'] {
  -webkit-appearance: button;
}
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: 'tnum';
  -moz-font-feature-settings: 'tnum';
  -ms-font-feature-settings: 'tnum';
  -webkit-font-feature-settings: 'tnum';
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: 'SFMono-Regular', Consolas, 'Roboto Mono', 'Droid Sans Mono',
    'Liberation Mono', Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: ' ';
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: '';
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

/* Custom Styles */

::selection {
  color: #fff;
  background: #bc79d9;
  text-shadow: none;
}
::-moz-selection {
  color: #fff;
  background: #bc79d9;
  text-shadow: none;
}

.lamp__wrapper {
  text-align: center;
}

.lamp {
  width: 80px;
  height: 128px;
  display: inline-block;
  transform-origin: top center;
  transform: rotate(45deg);
  animation: lamp 3s forwards;
  position: relative;
  top: 0;
  left: calc(50% - 40px);
}

.bulb {
  fill: #fbf8ca;
  fill-opacity: 0.1;
  animation: bulb 0.3s 0.3s 5 cubic-bezier(0.26, 1.17, 0.89, -0.74) alternate
    forwards;
}

.bulb__line {
  fill: none;
  stroke: #d7d5af;
  stroke-width: 0.263;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.lamp__elem {
  fill: rgb(34, 37, 43);
}

.lamp:hover {
  transform: rotate(2deg);
  animation: lamp2 1s infinite;
  cursor: none;
}

.lamp:hover .bulb {
  animation: bulb2 0.1s alternate infinite;
}

.lamp:hover + .title {
  animation: text2 2s cubic-bezier(0.26, 1.17, 0.89, -0.74) forwards;
}

@keyframes bulb {
  to {
    fill-opacity: 1;
    fill: #fbf8ca;
  }
}

@keyframes bulb2 {
  to {
    fill-opacity: 0.25;
    fill: #fbf8ca;
  }
}

@keyframes op {
  to {
    opacity: 1;
  }
}

@keyframes text {
  to {
    opacity: 0.3;
    text-shadow: rgb(70, 70, 70) 0px 1px, rgb(70, 70, 70) 0px 2px,
      rgb(70, 70, 70) 0px 3px, rgb(70, 70, 70) 0px 4px, rgb(70, 70, 70) 0px 5px,
      rgb(70, 70, 70) 0px 6px, rgb(70, 70, 70) 0px 7px, rgb(70, 70, 70) 0px 8px,
      rgb(70, 70, 70) 0px 9px, rgb(70, 70, 70) 0px 10px,
      rgb(70, 70, 70) 0px 11px, rgb(70, 70, 70) 0px 12px,
      rgb(70, 70, 70) 0px 13px, rgb(70, 70, 70) 0px 14px,
      rgb(71, 71, 71) 0px 15px, rgb(71, 71, 71) 0px 16px,
      rgb(72, 72, 72) 0px 17px, rgb(72, 72, 72) 0px 18px,
      rgb(73, 73, 73) 0px 19px, rgb(73, 73, 73) 0px 20px,
      rgb(74, 74, 74) 0px 21px, rgb(74, 74, 74) 0px 22px,
      rgb(74, 74, 74) 0px 23px, rgb(75, 75, 75) 0px 24px,
      rgb(75, 75, 75) 0px 25px, rgb(76, 76, 76) 0px 26px,
      rgb(76, 76, 76) 0px 27px, rgb(77, 77, 77) 0px 28px,
      rgb(77, 77, 77) 0px 29px, rgb(78, 78, 78) 0px 30px;
  }
}

@keyframes lamp {
  5% {
    transform: rotate(-45deg);
  }
  10% {
    transform: rotate(35deg);
  }
  15% {
    transform: rotate(-35deg);
  }
  25% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  65% {
    transform: rotate(3deg);
  }
  85% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes lamp2 {
  50% {
    transform: rotate(-2deg);
  }
}

.title {
  font-weight: 100;
  opacity: 0.05;
  animation: text 2s cubic-bezier(0.26, 1.17, 0.89, -0.74) forwards;
  font-size: 43px;
  display: block;
  margin-top: 100px;
  position: relative;
  color: #fbf8ca;
  transition: color 0.3s;
  text-align: center;
  line-height: 1;
}

.title small {
  font-size: 0.5em;
  line-height: 1;
  position: relative;
  top: -0.5em;
}

@keyframes text {
  to {
    opacity: 0.3;
    text-shadow: hsl(223, 13%, 0%) 0px 1px, hsl(223, 13%, 0%) 0px 2px,
      hsl(223, 13%, 0%) 0px 3px, hsl(223, 13%, 0%) 0px 4px,
      hsl(223, 13%, 0%) 0px 5px, hsl(223, 13%, 0%) 0px 6px,
      hsl(223, 13%, 0%) 0px 7px, hsl(223, 13%, 0%) 0px 8px,
      hsl(223, 13%, 0%) 0px 9px, hsl(223, 13%, 0%) 0px 10px,
      hsl(223, 13%, 0%) 0px 11px, hsl(223, 13%, 0%) 0px 12px,
      hsl(223, 13%, 0%) 0px 13px, hsl(223, 13%, 0%) 0px 14px,
      hsl(223, 13%, 1%) 0px 15px, hsl(223, 13%, 1%) 0px 16px,
      hsl(223, 13%, 1%) 0px 17px, hsl(223, 13%, 2%) 0px 18px,
      hsl(223, 13%, 2%) 0px 19px, hsl(223, 13%, 2%) 0px 20px,
      hsl(223, 13%, 3%) 0px 21px, hsl(223, 13%, 3%) 0px 22px,
      hsl(223, 13%, 3%) 0px 23px, hsl(223, 13%, 4%) 0px 24px,
      hsl(223, 13%, 4%) 0px 25px, hsl(223, 13%, 4%) 0px 26px,
      hsl(223, 13%, 5%) 0px 27px, hsl(223, 13%, 5%) 0px 28px,
      hsl(223, 13%, 5%) 0px 29px, hsl(223, 13%, 5%) 0px 30px;
  }
}

@keyframes text2 {
  to {
    opacity: 0.3;
    text-shadow: hsl(223, 13%, 0%) 0px 1px, hsl(223, 13%, 0%) 0px 2px,
      hsl(223, 13%, 0%) 0px 3px, hsl(223, 13%, 0%) 0px 4px,
      hsl(223, 13%, 0%) 0px 5px, hsl(223, 13%, 0%) 0px 6px,
      hsl(223, 13%, 0%) 0px 7px, hsl(223, 13%, 0%) 0px 8px,
      hsl(223, 13%, 0%) 0px 9px, hsl(223, 13%, 0%) 0px 10px,
      hsl(223, 13%, 0%) 0px 11px, hsl(223, 13%, 0%) 0px 12px,
      hsl(223, 13%, 0%) 0px 13px, hsl(223, 13%, 0%) 0px 14px,
      hsl(223, 13%, 1%) 0px 15px, hsl(223, 13%, 1%) 0px 16px,
      hsl(223, 13%, 1%) 0px 17px, hsl(223, 13%, 2%) 0px 18px,
      hsl(223, 13%, 2%) 0px 19px, hsl(223, 13%, 2%) 0px 20px,
      hsl(223, 13%, 3%) 0px 21px, hsl(223, 13%, 3%) 0px 22px,
      hsl(223, 13%, 3%) 0px 23px, hsl(223, 13%, 4%) 0px 24px,
      hsl(223, 13%, 4%) 0px 25px, hsl(223, 13%, 4%) 0px 26px,
      hsl(223, 13%, 5%) 0px 27px, hsl(223, 13%, 5%) 0px 28px,
      hsl(223, 13%, 5%) 0px 29px, hsl(223, 13%, 5%) 0px 30px;
  }
}

.links {
  text-align: center;
}
.link {
  width: 24px;
  height: 24px;
  padding: 4px;
  margin: 0 4px;
  display: inline-block;
  z-index: 200;
  position: relative;
}
.link path {
  fill: #333;
  transition: fill 0.3s;
}
.codepen:hover path {
  fill: #d5d5d5;
}
.dribbble:hover path {
  fill: #c73b6f;
}
.github:hover path {
  fill: #1a1a1a;
}
.twitter:hover path {
  fill: #00aced;
}
.msg:hover path {
  fill: #a8a58a;
}
